<link href="css/app.css" rel="stylesheet" type="text/css" />
<div class="section">
  <h1>
    Tasks on <strong></strong>
  </h1>
  <p class="intro">
    <button id="empty-btn" class="btn btn-danger btn-sm float-right"
      title="Remove all tasks from this queue (destructive)" hidden=true>
      <i class="fas fa-trash"></i> Empty
    </button>

    <button id="delete-btn" class="btn btn-danger btn-sm float-right"
      title="Delete this queue" hidden=true>
      <i class="fas fa-trash"></i> Delete
    </button>

    This list below contains all the registered tasks on queue
    <strong>{{ queue.name }}</strong>, sorted by age
    <span id="newes-on-top" hidden=true>(newest on top).</span>
    <span id="oldest-on-top" hidden=true>(oldest on top).</span>
  </p>

  <table id="jobs" class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th class="narrow">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr data-role="loading-placeholder">
        <td colspan="3">Loading...</td>
      </tr>
    </tbody>
  </table>

  <script name="no-jobs-row" type="text/template">
      <tr>
          <td colspan="3">No tasks.</td>
      </tr>
  </script>

  <div id="page-selection" class="pagination pagination-centered">
    <ul>
    </ul>
  </div>

  <script name="no-previous-page-link" type="text/template">
      <li class="disabled" ><a href="#" >&laquo;</a></li>
  </script>

  <script name="previous-page-link" type="text/template">
      <li><a href="<%= url %>" >&laquo;</a></li>
  </script>

  <script name="page-link" type="text/template">
      <li><a href="<%= url %>" ><%= number %></a></li>
  </script>

  <script name="next-page-link" type="text/template">
      <li><a href="<%= url %>" >&raquo;</a></li>
  </script>

  <script name="no-next-page-link" type="text/template">
      <li class="disabled" ><a href="#" >&raquo;</a></li>
  </script>

</div>
