<div class="section">
  <h1>Queues</h1>
  <p class="fixed intro">This list below contains all the registered queues with the number of tasks currently
    in the queue. Select a queue from above to view all tasks currently pending on the queue.</p>

  <table id="queues" class="table table-bordered">
    <thead>
      <tr>
        <th>Queue</th>
        <th class="narrow">Tasks</th>
      </tr>
    </thead>
    <tbody>
      <tr data-role="loading-placeholder">
        <td colspan="2">Loading...</td>
      </tr>
    </tbody>
  </table>
</div>
