<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>RT dashboard</title>
  <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
  <script defer src="{{ url_for('static', filename='js/app.js') }}?apiUrl={{ rt_url_prefix|urlencode }}&poll={{ poll_interval|urlencode }}" type="text/javascript"></script>
</head>

<body style="background-color: white">

<div class="container">

  <rt-dashboard></rt-dashboard>

</div>

</body>
</html>
