<link href="css/app.css" rel="stylesheet" type="text/css" />
<div id="page-selection" class="pagination pagination-centered"></div>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="<%= url %>" >&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="<%= url %>" ><%= number %></a></li>
    <li class="page-item active"><a class="page-link" href="<%= url %>" >1</a></li>
    <li class="page-item"><a class="page-link" href="<%= url %>" >&raquo;</a></li>
  </ul>
</div>
